<!DOCTYPE html>

<html>
  {{ partial "head.html" . }}
  <body>
    <a href="{{ .Site.BaseURL }}" class="alpha icon-home3"></a>
    <article class="post">
      <h1>{{ .Title }}</h1>
      <section class="meta">
        <span class="meta__time">{{ .Date.Format "2 January 2006" }} </span>
        <span class="meta__reading">~ {{ .ReadingTime }} minute read</span>
        <span class="meta__reading">~ {{ .WordCount }} words</span>
      </section>
      {{ .Content }}
    </article>
    {{ partial "highlight.html" . }}
    {{ partial "footer.html" . }}
  </body>
</html>
