<li>
  <h1><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
  <div class="meta">
    <span class="meta__time">{{ .Date.Format "2 January 2006" }} ~ {{ .ReadingTime }} minute read</span>
  </div>
</li>
