//
// CODE
//
// Highlighting code is quite an important task
// for this blog, so this sets up everything
//


pre, code[class*="language-"] {
  font-size: 0.80em;
  line-height: 24px;
  text-shadow: none;
  background: #FAFAFA;
}


pre {
  width: 105%;
  margin-left: -2.5%;
}

code {
  font-size: 0.75em;
}


code[class*="language-"] {
  padding-left: 2.5%;
}


.hljs-title {
  color: #333;
  font-weight: normal;
}


.hljs-type {
  color: rgb(147, 15, 128);
  color: #333;
}


.hljs-number {
  color: #718C00;
}


.hljs-string {
  color: #3E999F;
}


.hljs-keyword {
  color: #930f80;
  font-weight: normal;
}
