// 
// Generic
//
// This is mainly used for setting up all tags
// with some usable defaults, while defining
// font-families and such.
//

$font-size: 22px;
$line-height: 34px;


* {
  box-sizing: border-box;
}


html {
  font-size: $font-size;
  line-height: $line-height;
  overflow-y: scroll;
  min-height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}


body {
  font-family: 'Cormorant Garamond', serif;
  color: #333;
}


h1, h2, h3, h4, h5, h6,
ul, ol, dl,
blockquote, p, address,
table, hr,
fieldset, figure,
pre {
  margin-bottom: $line-height;
}


hr {
  border: none;
  border-bottom: 1px solid #c5c5c5;
}

