@font-face {
  font-family: 'blog';
  src:  url('../fonts/blog.eot?aabr57');
  src:  url('../fonts/blog.eot?aabr57#iefix') format('embedded-opentype'),
    url('../fonts/blog.ttf?aabr57') format('truetype'),
    url('../fonts/blog.woff?aabr57') format('woff'),
    url('../fonts/blog.svg?aabr57#blog') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'blog' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home3:before {
  content: "\e902";
}
.icon-price-tags:before {
  content: "\e936";
}

