//
// Me
//

.me {
  position: fixed;
  font-family: 'Open Sans';
  font-weight: lighter;
  font-size: 0.7em;
  border-right: 1px solid #eee;
  width: 230px;
  height: 100%;
  top: 0;
  display: flex;
  
  .profile {
    align-self: center;
    margin: auto;
    text-align: center;
    min-height: 250px; // dirty hack
  }

  .profile__github {
    position: relative;
    display: block;
    
    img {
      position: absolute;
      top: 9px;
      max-height: 16px;
      margin-left: -20px;
    }
  }

  .profile__img {
    max-width: 100px;
    margin: auto;
    
    img {
      max-width: 100%;
      max-height: 100%;
      border-radius: 100%;
    }
  }

  @media screen and (max-width: 1300px) {
    position: static;
    margin: 34px auto;
    width: 100%;
    max-width: 720px;
    text-align: center;
    padding-bottom: 6px;
    border-right: none;
    border-bottom: 1px solid #eee;
    
    .profile > div {
      line-height: 16px;
    }

    .profile__img {
      margin-bottom: 16px;
    }
    
  }
}
