//
// OVERVIEW
//

.overview {
  margin: 34px auto auto auto;
  max-width: 760px;
  padding: 20px;
  list-style: none;

  .meta {
    text-align: left;
    margin-top: -24px;
  }

  h1 a {
    color: #333 !important;
    font-weight: bold;
  }

  li {
    margin-bottom: 34px;
  }
}
