//
// POSTS
//

.post {
  padding: 30px;
  margin: auto;
  max-width: 780px;

  > h1:first-of-type {
    text-align: center;
  }
}

.post p img {
  max-width: 105%;
  margin-left: -2.5%;
  box-shadow: 0px 0px 20px #aaa;
}


blockquote {
  margin-left: 0;
  margin-right: 0;
  background: #fafafa;
  border-left: 8px solid #ddd;
  padding: 1em;
  color: #555;

  p {
    margin: 0;
  }
}


//
// HOME
//

.icon-home3 {
  display: block;
  text-align: center;
  margin-top: 68px;


  &:before {
    border-radius: 100%;
    font-size: 36px;
    color: #777;
    background: #fafafa;
    padding: 32px;
    text-align: center;
    transition: all 700ms ease-in-out;

  }

  &:hover:before {
    color: #333;
  }
}


//
// META
//

.meta {
  color: #777;
  margin-top: -17px;
  text-align: center;
  font-size: 0.9em;
}
