<head>
  <title>{{ .Title }}</title>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="{{ .Site.BaseURL }}/images/favicon.png" rel="icon"/>
  <link href="{{ .Site.BaseURL }}/stylesheets/main.css" rel="stylesheet"/>
</head>
