<!DOCTYPE html>

<html>
  {{ partial "head" . }}
  <body>
    <section class="me">
      <div class="profile">
        <div class="profile__img">
          <img src="https://gitlab.com/uploads/user/avatar/757021/avatar.png" />
        </div>
        <div class="name">Matthias Metzger</div>
        <a href="https://github.com/noobymatze" class="profile__github">
          <img src="images/GitHub-Mark-32px.png" />
          noobymatze
        </a>
      </div>
    </section>
    <ul class="overview">
      {{ range .Data.Pages }}
        {{ .Render "li" }}
      {{ end }}
    </ul>
  </body>
</html>
